API_BASE_PATH=http://127.0.0.1:8000
API_KEY=1234
# DYNAMIC_AUTH_CONFIG={return{secret:'<secret>',trustHost:!0,providers:[(await import('@auth/core/providers/credentials')).default({name:'Credentials',credentials:{username:{label:'Username',type:'text'},password:{label:'Password',type:'password'}},async authorize(credentials,req){if(credentials.username==='jsmith'&&credentials.password==='password'){return{id:'1',name:'J Smith',email:'jsmith@example.com'}}else{return null}}})]}}